<p id="notice"><%= notice %></p>

<h1>Shared Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Social network</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_events.each do |shared_event| %>
      <tr>
        <td><%= shared_event.event_id %></td>
        <td><%= shared_event.user_id %></td>
        <td><%= shared_event.social_network %></td>
        <td><%= link_to 'Show', shared_event %></td>
        <td><%= link_to 'Edit', edit_shared_event_path(shared_event) %></td>
        <td><%= link_to 'Destroy', shared_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Event', new_shared_event_path %>
