<%= form_with(model: event_calification, local: true) do |form| %>
  <% if event_calification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_calification.errors.count, "error") %> prohibited this event_calification from being saved:</h2>

      <ul>
      <% event_calification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id, id: :event_calification_event_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :event_calification_user_id %>
  </div>

  <div class="field">
    <%= form.label :calification %>
    <%= form.number_field :calification, id: :event_calification_calification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
