<p id="notice"><%= notice %></p>

<h1>Event Califications</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Calification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_califications.each do |event_calification| %>
      <tr>
        <td><%= event_calification.event_id %></td>
        <td><%= event_calification.user_id %></td>
        <td><%= event_calification.calification %></td>
        <td><%= link_to 'Show', event_calification %></td>
        <td><%= link_to 'Edit', edit_event_calification_path(event_calification) %></td>
        <td><%= link_to 'Destroy', event_calification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Calification', new_event_calification_path %>
