<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8' />
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
        <%= wicked_pdf_javascript_include_tag "chartkick" %>

        <title>Estadisticas</title>
        
    </head>
    <body onload='https://www.gstatic.com/charts/loader.js'>
        <h1 style="text-align:center; color:green  ">Estadisticas</h1>
        <h2 style="text-align:center;" >Eventos</h2>
        <p style="text-align:center;"> Hay <%= @total_events %> eventos creados</p>
        <h3 style="text-align:center;"> Eventos publicos:</h3>
        <p style="text-align:center;"> <%= @num_publics %></p>
        <h3 style="text-align:center;"> Eventos privados:</h3>
        <p style="text-align:center;"> <%= @num_privates %></p>
        <p style="text-align:center;"> Es decir:</p>
        <p style="text-align:center;"> <%= (@num_privates*100)/@total_events %>% son eventos privados </p>
        <p style="text-align:center;"> <%= (@num_publics*100)/@total_events %>% son eventos publicos </p>
        <p style="text-align:center;">
        <!--<h3 style="text-align:center;"><strong>Grafica de eventos por categoria:</strong></h3>-->
        <!--< %= pie_chart @events.group(:category_id).count %> <br>-->
        <!--</p>-->
        <h2 style="text-align:center;" >Usuarios</h2>
        <p style="text-align:center;"> Hay <%= @total_users %> usuarios registrados. De los cuales <%= @women %> son mujeres, y <%= @men %> son hombres!</p>
        <p style="text-align:center;"> Es decir, en porcentajes...</p>
        <p style="text-align:center;"> El <%= (@men*100)/@total_users %>% son hombres y el <%= (@women*100)/@total_users %>% son mujeres</p>
        
    </body>
</html>