<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<section id="show_event">
  <div class="panel panel-success">
    <div class="panel-heading text-center">
      <h2>Estadisticas</h2>
    </div>
    <div class="panel-body">
      <%= link_to 'Ayer', stadistics_path(:param1 => "day"), class: "btn btn-default" %>
      <%= link_to 'La ultima semana', stadistics_path(:param1 => "week"), class: "btn btn-default" %>
      <%= link_to 'El ultimo mes', stadistics_path(:param1 => "month"), class: "btn btn-default" %>
      <%= link_to 'El ultimo año', stadistics_path(:param1 => "year"), class: "btn btn-default" %>
      <p>
        <strong>Numero de eventos creados:</strong>
        <%= @total_events %>
      </p>
      
      <p>
        <strong>Eventos privados:</strong>
        <%= @num_privates %>
      </p>
      
      <p>
        <strong>Eventos publicos:</strong>
        <%= @num_publics %>
      </p>

      <p>
        <strong>Numero de usuarios creados:</strong>
        <%= @total_users %>
      </p>
      
      

      <p>
        <strong>Numero de mujeres registradas:</strong>
        <%= @women %>
      </p>


      <p>
        <strong>Numero de hombres registrados:</strong>
        <%= @men %>
      </p>
      
      <p>
        <strong>Porcentaje de mujeres:</strong>
        <% if @total_users != 0 %>
          <%= (@women*100)/@total_users %> %
        <% else %>
          0%
        <% end %>
      </p>
      
      <p>
        <strong>Porcentaje de Hombres:</strong>
        <% if @total_users != 0 %>
          <%= (@men*100)/@total_users %> %
        <% else %>
          0%
        <% end %>
      </p>
      
      <p>
        <strong>Categorias:</strong> <br>
        <% @categorias.each do |category| %> 
          <%= category.id %> - <%= category.name %> <br>
        <% end %>
      </p>
      
      <p class="text-center">
        <strong>Grafica de eventos por categoria:</strong>
        <%= pie_chart Event.group(:category_id).count %> <br>
      </p>
      
      <p class="text-center">
        <strong>Ubicacion de los eventos:</strong>
        <%= geo_chart Event.group(:address).count %>
      </p>
      
      
      <!-- < % = link_to 'Descargar estadisticas',stadistics_generate_path, class: "btn btn-default" % > -->
      <%= link_to 'Descargar estadisticas',stadistics_path(format: :pdf), class: "btn btn-default" %>
      <%= link_to 'Volver',events_path, class: "btn btn-default" %>

      
    </div>
   

  </div>
</section>

<p id="notice">
  <%= notice %>
</p>