<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :event_published %>
  </div>

  <div class="field">
    <%= form.label :cancelled %>
    <%= form.check_box :cancelled, id: :event_cancelled %>
  </div>

  <div class="field">
    <%= form.label :id_user %>
    <%= form.number_field :id_user, id: :event_id_user %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.datetime_select :event_date, id: :event_event_date %>
  </div>

  <div class="field">
    <%= form.label :event_init_hour %>
    <%= form.time_select :event_init_hour, id: :event_event_init_hour %>
  </div>

  <div class="field">
    <%= form.label :event_end_hour %>
    <%= form.time_select :event_end_hour, id: :event_event_end_hour %>
  </div>

  <div class="field">
    <%= form.label :even_end_date %>
    <%= form.datetime_select :even_end_date, id: :event_even_end_date %>
  </div>

  <div class="field">
    <%= form.label :calification %>
    <%= form.text_field :calification, id: :event_calification %>
  </div>

  <div class="field">
    <%= form.label :all_calification %>
    <%= form.number_field :all_calification, id: :event_all_calification %>
  </div>
  <!-- Insertar imagen -->
  <div>
    <%= form.label :image %>
    <%= form.file_field :image, id: :event_image %>
  </div>
  <!-- Insertar imagen -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
