<!DOCTYPE html>
<html>
    <head>
        <title><%= @event.name %></title>
    </head>
    <body>
        <h1 style="text-align:center; color:green  "> <%= @event.name %></h1>
        <h3><strong>Descripcion: </strong></h3>
        <p> <%= @event.description %></p>
        <h3><strong>Categoria: </strong></h3>
        <p> <%= Category.find(@event.category_id).name %></p>   <!-- Buscar una manera optima de llamar Category-->
        <h3><strong>Fecha de inicio: </strong> </h3>
        <p> <%= @event.event_date.to_s(:short)%></p>
        <h3><strong>Fecha Final: </strong> </h3>
        <p> <%= @event.even_end_date.to_s(:short) %></p>
        <% if @event.published? %>
            <h2>El evento es publico </h2>
        <% else %>
            <h4>El evento es privado </h4>
        <% end %>
        
        <h3><strong>Ubicacion:</strong> 
         <%= @event.address %> </h3>
        
        <!-- < %= wicked_pdf_image_tag (@event.image,:height => '200', :width => '400')%> -->
        <%= wicked_pdf_image_tag (@event.image) if @event.image? %> 
        
        
        <!-- < %= wicked_pdf_image_tag 'http://maps.google.com/maps/api/staticmap?size=450×300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}' %>-->
        
        <!--<div class="col-md-6 col-lg-6 col-xs-12">-->
        <!--  <div class="row">-->
        <!--    <div class="map">-->
        <!--      <div id="map" style="height: 400px; width: 95%; border-radius: 2rem;"></div>-->
        <!--      <script>-->
        <!--          function initMap() {-->
        <!--              var uluru = {lat: < %= @event.latitude %>, lng: < %= @event.longitude %>};-->
        <!--              var map = new google.maps.Map(document.getElementById('map'), {-->
        <!--                  zoom: 17,-->
        <!--                  center: uluru-->
        <!--              });-->
        <!--              var marker = new google.maps.Marker({-->
        <!--                  position: uluru,-->
        <!--                  map: map-->
        <!--              });-->
        <!--          }-->
        <!--      </script>-->
        <!--      <script async defer-->
        <!--              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZPi8lJu5oihv0cTfeeQ6h3VZV_OuFtf4&callback=initMap">-->
        <!--      </script>-->
        <!--    </div>-->

        <!--  </div>-->
        <!--</div>-->
    </body>
</html>