<h1>Eventos</h1>
<%= render 'index_categories_filter' %>
<hr>
<div class="row ">
    <div class="col-md-10 col-lg-offset-1 calendar-wrapper">
      <div id="calendar"></div>
    </div>
</div>
<div class="row">
  <p>
    <%= link_to 'Ver version mosaico', events_path %> <br>

  </p>
</div>



<% if user_signed_in? %>
    <%= link_to 'Crea un nuevo evento', new_event_path %>
<% else %>
    <%= link_to '¿Quieres crear tu propio evento? ¡Inicia sesion!', new_user_session_path %> <br>
    <%= link_to '¿No tienes una cuenta? ¡Registrate!', new_user_registration_path %>
<% end %>