<h1 class="text-center text-header">Eventos</h1>
<%= render 'index_categories_filter' %>
<br>
<%= will_paginate @events %>
<div class="row" id="event_view">
  <% @events.each do |event| %>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h5 class="text-center"><%= event.name %> </h5>
          </div>
          <div class="panel panel-body">
            <div class='screen' style="background-image: url(assets/event-2);">
              <div class='row'>
                <div class='col-sm-12 center-block '>
                  <div class='box'>
                    <p class='white-text '><%= event.description %>
                    </p>
                    <%= link_to event, id: "show", class: "fa pull-right" do %>
                        <i class="fa fa-eye align-index"></i>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <% if event.event_date.present? %>
                <h5 class="text-right"><%= event.event_date.to_formatted_s(:long) %></h5>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <% if user_signed_in? %>
      <div class="col-xs-12 col-md-2 col-lg-2">

        <%= link_to '', new_event_path, class: "btn btn-default fa fa-plus-circle", id: "create-event", title: "Crea un nuevo evento" %>
      </div>
      </div>
  <% else %>
      </div>
      <%= link_to '¿Quieres crear tu propio evento? ¡Inicia sesion!', new_user_session_path, class: "btn btn-default" %>
      <%= link_to '¿No tienes una cuenta?', new_user_registration_path, class: "btn btn-default", id: "¡Registrate!" %>
  <% end %>
  <%= link_to '', events_path(:param1 => "months"), id: "calendar_edition", class: "pull-right fa fa-calendar btn btn-default", title: "Versión calendario" %>
  <br>
  <%= will_paginate @events %>
  <%= link_to 'Estadisticas', stadistics_path, class: "btn btn-default" %>
