<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<div class="row">
  <% @events.each do |event| %>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= event.name %>
          </div>
          <div class="panel-body">
            <p><%= event.description %></p>
            <p>
              <%= link_to 'Ver', event %>
              <%= link_to 'Editar', edit_event_path(event) %>
              <%= link_to 'Eliminar', event, method: :delete, data: {confirm: '¿Estas seguro de querer eliminarlo?'} %>
              <%= link_to 'Descargar PDF', event, method: :get_pdf %>
            </p>
          </div>
          <div class="panel-footer">
            <%= event.event_date %>
          </div>
        </div>
      </div>
        <!--<td><%= event.description %></td>-->
        <!--<td><%= event.published %></td>-->
        <!--<td><%= event.cancelled %></td>-->
        <!--<td><%= event.id_user %></td>-->
        <!--<td></td>-->
        <!--<td><%= event.event_init_hour %></td>-->
        <!--<td><%= event.event_end_hour %></td>-->
        <!--<td><%= event.even_end_date %></td>-->
        <!--<td><%= event.calification %></td>-->
        <!--<td><%= event.all_calification %></td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td></td>-->
  <% end %>
  <div class="col-lg-4">

  </div>
</div>
<br>

<%= link_to 'New Event', new_event_path %>
