<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<%= will_paginate @events %>
<div class="row">

  <% @events.each do |event| %>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= event.name %>
          </div>
          <div class="panel-body">

            <p><%= event.description %></p>
            <p>
              <%= link_to 'Ver', event %>
              <% if event.user == current_user %>
                  <%= link_to 'Editar', edit_event_path(event) %>
                  <%= link_to 'Eliminar', event, method: :delete, data: {confirm: '¿Estas seguro de querer eliminarlo?'} %>
              <% end %>
              <%= link_to 'Descargar PDF', event, method: :get_pdf %>
<<<<<<< HEAD
              <% if user_signed_in? %>
                <%= link_to 'Comentar',  new_event_comment_path %>
                <%= link_to 'Calificar', method: :grade %>
              
                <% if @asis.to_s.include?(current_user.id.to_s) %>
                  <%= link_to 'Ya no Asistire',event, method: :noasistire %>
                <% else %>
                  <%= link_to 'Asistire',event, method: :asistir %>
                <% end %>
              <% end %>

            </p>
          </div>
          <div class="panel-footer">
            <%= event.event_date %>
          </div>
        </div>
      </div>
      <!--<td><%= event.description %></td>-->
      <!--<td><%= event.published %></td>-->
      <!--<td><%= event.cancelled %></td>-->
      <!--<td><%= event.id_user %></td>-->
      <!--<td></td>-->
      <!--<td><%= event.event_init_hour %></td>-->
      <!--<td><%= event.event_end_hour %></td>-->
      <!--<td><%= event.even_end_date %></td>-->
      <!--<td><%= event.calification %></td>-->
      <!--<td><%= event.all_calification %></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
  <% end %>
  <div class="col-lg-4">

  </div>
</div>
<br>
<% if user_signed_in? %>
    <%= link_to 'Crea un nuevo evento', new_event_path %>
<% else %>
    <%= link_to '¿Quieres crear tu propio evento? ¡Inicia sesion!', new_user_session_path %>
    <%= link_to '¿No tienes una cuenta? ¡Registrate!', new_user_registration_path %>
<% end %>
<%= will_paginate @events %>
