<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del evento:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @event.published %>
</p>

<p>
  <strong>Cancelado:</strong>
  <%= @event.cancelled %>
</p>

<!-- <p>
  <strong>Usuario creador:</strong> 
  <%= @event.user.name %>
</p> -->

<p>
  <strong>Inicio del evento:</strong>
  <%= @event.event_date.to_formatted_s(:short) %>
</p>

<p>
  <strong>Hora de inicio:</strong>
  <%= @event.event_init_hour %>
</p>

<p>
  <strong>Hora final:</strong>
  <%= @event.event_end_hour %>
</p>

<p>
  <strong>Fin del evento :</strong>
  <%= @event.even_end_date.to_formatted_s(:short) %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @event.calification %>
</p>

<p>
  <strong>Todas las calificaciones:</strong>
  <%= @event.all_calification %>
</p>

<!-- Mostrar la imagen del evento-->
<%= image_tag(@event.image.url, alt: 'Image') if @event.image? %>
<!-- -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
