<section id="show_event">
  <div class="panel panel-success">
    <div class="panel-heading text-center">
      <h2><%= @event.name %></h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <p class="lead">
            <%= @event.description %>
          </p>

          <p>
            <strong>Categoria</strong>
            <%= @event.category.name %>
          </p>

          <% if @event.published? %>
              <p>
                <strong>Este evento es publico</strong>
              </p>
          <% else %>
              <p>
                <strong>Este evento es privado</strong>
              </p>
          <% end %>

          <% if @event.cancelled? %>
              <p>
                <strong>Este evento ya fue cancelado</strong>
              </p>
          <% end %>


          <p>
            <strong>Inicio del evento:</strong>
            <% if @event.event_date.present? %>
                <%= @event.event_date.to_formatted_s(:short) %>
            <% end %>
          </p>


          <p>
            <strong>Fin del evento :</strong>
            <% if @event.even_end_date.present? %>
                <%= @event.even_end_date.to_formatted_s(:short) %>
            <% end %>
          </p>
          <hr>

          <%= social_share_button_tag(@event.name[0..20].gsub(/\s\w+\s*$/, '...') + ' en ' + time_ago_in_words(@event.event_date) + '- mas detalles en ') %>
          <hr>

          <!-- Mostrar la imagen del evento-->
          <%= image_tag(@event.image, alt: 'Image', height: '150px') if @event.image? %>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="row">
            <div class="map">
              <div id="map" style="height: 400px; width: 95%; border-radius: 2rem;"></div>
              <script>
                  function initMap() {
                      var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
                      var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 17,
                          center: uluru
                      });
                      var marker = new google.maps.Marker({
                          position: uluru,
                          map: map
                      });
                  }
              </script>
              <script async defer
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZPi8lJu5oihv0cTfeeQ6h3VZV_OuFtf4&callback=initMap">
              </script>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="links">
        <%= link_to 'atras', events_path, id: "back", title: "Atras" %>
        <% if @event.user == current_user %>
            <%= link_to 'edita', edit_event_path(@event), id: "edit", title: "Edita tu evento" %>
            <%= link_to 'elimi', @event, id: "delete", title: "Eliminar", method: :delete, data: {confirm: '¿Estas seguro de querer eliminarlo?'} %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to 'Compartir',event_share_path(@event) %>
        <% end %>
        <%= link_to 'desca', event_path(format: :pdf), id: "download" %>
        <!--< %= form_tag(events_path, method: :get) do %>-->
        <!--    <div class="input-group custom-search-form">-->
        <!--      < %= text_area_tag :destinos, params[:destinos] %>-->
        <!--      < %= submit_tag 'Search', name: nil %>-->
        <!--    </div>-->
        <!--< % end %>-->
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="chat-panel panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-comments fa-fw"></i> Comentarios de la comunidad
              <span>( <%= @event.reviews.count %> )</span>
              <div class="average-review-rating float-right" data-score=<%= @average_review %>></div>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <ul class="chat">
                <%= render @event.reviews %>
              </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
              <% if user_signed_in? %>
                  <%= link_to 'Calificar', new_event_review_path(@event), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal', :class => 'btn btn-primary btn-lg btn-block'} %>
              <% end %>
            </div>
            <!-- /.panel-footer -->
          </div>

        </div>
        <div class="col-md-8">
          <div class="chat-panel panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-calendar fa-fw"></i> OTROS EVENTOS SIMILARES
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <ul class="chat">
                <%= render partial: 'suggestions', collection: @suggestions %>
              </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
            </div>
            <!-- /.panel-footer -->
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



<p id="notice">
  <%= notice %>
</p>


<script type="text/javascript" charset="utf-8">
    $('.average-review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score')
        },
        path: '/assets/'
    })
</script>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    })
</script>