<%= form_with(model: event_comment, local: true) do |form| %>
  <% if event_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_comment.errors.count, "error") %> prohibited this event_comment from being saved:</h2>

      <ul>
      <% event_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id, id: :event_comment_event_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :event_comment_user_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :event_comment_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
