<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_document.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_document.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_document.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @event_document.file %>
</p>

<%= link_to 'Edit', edit_event_document_path(@event_document) %> |
<%= link_to 'Back', event_documents_path %>
