<!DOCTYPE html>
<html>
  <head>
    <title>UNCalendario</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'main' %>

    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'jquery-3.2.1.min' %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <a class="navbar-brand" href="/">UN Calendario</a>

          <div class="collapse navbar-collapse" role="navitation">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Registrate", new_user_registration_path, :class => 'navbar-link'  %> 
                </li>
                <li>
                   <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link'  %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>

    <%= yield %>

  <footer class="footer">
    <span class="copyright">&copy; Todos los derechos reservados Pro One 600</span>
    <ul class="list-inline  pull-right">
      <li>
        <%= link_to "CONTACTO", contact_path, :class => 'btn btn-primary'  %>

      </li>

    </ul>
    
  </footer>
  </body>
</html>
