<!DOCTYPE html>
<html>
  <head>
    <title>UNCalendario</title>

    <%= favicon_link_tag 'unc-logo.png' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'main' %>


  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>


  </body>
</html>
